body {
    margin: 0;
    color: green;
    background: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h3 {
    text-align: left;
}
p {
    text-align: left;
}
.CodingImage {
    scale: 50%;
}